 @import url("https://use.typekit.net/yky6cne.css");

.branded-head {
  font-family: abolition, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  letter-spacing: 0.01em;
  line-height: 1em;
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: 10px 10px;
}

.head-nav {
  font-family: brandon-grotesque;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  letter-spacing: .14em;
  text-transform: uppercase;
  font-style: normal;
  color: #000;
  text-decoration: none;
}

.title {
  display: flex;
  padding: 5px;
}

.nav-bar {
  display: flex;
  padding: 0px 11px;  
  justify-content: flex-start;
}

.nav-bar a {
  padding: 3px 5px;
}
