 @import url("https://use.typekit.net/yky6cne.css");

 body, html {
   height: 100%;
 }

 footer {
   display: flex;
   position: relative;
   padding: 0px 11px;
   margin-top: 2em;
   height: 150px;
   justify-content: center;
 }

 .head-top {
   padding-bottom: 20px;
 }

 .img-wrap {
   position: relative;
   margin-top: 5em;
   margin-bottom: 5em;
 }

 .frontpage-gallery-wrap {
  display: grid;
  grid-template-areas:
    "big1 big1 small1 small2"
    "big1 big1 small1 small2"
    "small3 small4 big2 big2"
    "small3 small4 big2 big2";
 }

 article:nth-of-type(1) {
   grid-area: big1;
 }

 article:nth-of-type(2) {
   grid-area: small1;
 }

 article:nth-of-type(3) {
   grid-area: small2;
 }

 article:nth-of-type(4) {
   grid-area: small3;
 }

 article:nth-of-type(5) {
   grid-area: small4;
 }

 article:nth-of-type(6) {
   grid-area: big2;
 }

 .frontpage-gallery-item {
   min-height: 480px;
 }

 .parallax {
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.branded-head {
  font-family: abolition, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  letter-spacing: 0.01em;
  line-height: 1em;
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: 10px 10px;
}

.nav-link {
  font-family: brandon-grotesque;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  letter-spacing: .14em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.footer-link {
  font-family: brandon-grotesque;
  font-weight: bold;
  font-style: normal;
  font-size: 0.75em;
  letter-spacing: .14em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.title {
  display: flex;
  padding: 5px;
}

.nav-bar {
  display: flex;
  padding: 0px 11px;
  justify-content: flex-start;
}

.nav-bar a {
  padding: 3px 5px;
}

.main-content {
  display: block;
}

.img-fullwidth {
  margin: 0;
}

.image-title-overlay {
  position: absolute;
  top: 25px;
  left: 50px;
}

.image-title-overlay p {
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  letter-spacing: .01em;
  text-transform: none;
  line-height: 1.2em;
  color: #fff;
}

.image-subtitle-overlay {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0%, -50%);
}

.contact-content iframe {
  min-height: 800px;
}

.image-subtitle-overlay p {
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-size: 4em;
  font-style: normal;
  letter-spacing: .01em;
  text-transform: none;
  line-height: 1.2em;
  color: #fff;
}

h1 {
  font-family: brandon-grotesque;
  font-weight: 700;
  font-style: normal;
  font-size: 2.6em;
  letter-spacing: .01em;
  line-height: 1.45em;
  text-transform: uppercase;
}

body {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -.01em;
  line-height: 1.6em;
  text-transform: none;
  color: #424242;
}

i, em {
  font-style:italic!important;
}
